<div class="row justify-content-sm-center ">
    <div class="col-md-6">
        <div class="justify-content-sm-center card">
            <div class="shadow card-body round pb-3">
                <h1 class="text-center pt-3 text-secondary">Example Form</h1>
                <form [formGroup]="exform">
                    <div class="form-group">
                        <label class="col-form-label">Name:</label>
                        <input formControlName="name" type="text" class="form-control">
                        <small *ngIf="name.invalid && name.touched" class="text-danger">Name is Required</small>
                    </div>
                   
                    <button (click)="clicksub()" [disabled]="exform.invalid" type="button" class="btn btn-primary">Send
                        message</button>
                </form>
            </div>
        </div>
    </div>
</div>